LITELLM_MASTER_KEY=replace-with-at-least-32-random-characters
DEPLOY_BIND_ADDRESS=127.0.0.1
LITELLM_PORT=4000
OLLAMA_PORT=11434
OPEN_WEBUI_PORT=3000
LITELLM_IMAGE=ghcr.io/berriai/litellm:main-latest
OLLAMA_IMAGE=ollama/ollama:latest
OPEN_WEBUI_IMAGE=ghcr.io/open-webui/open-webui:main
